{{!-- Pass/fail outcome is injected by renderChatMessage hook from message.flags.rt87 --}}
<div class="dice-roll rt87-roll">
  <div class="dice-result">
    <div class="dice-formula">{{roll.formula}}</div>
    <div class="dice-total">
      {{roll.total}}
    </div>
  </div>
  <div class="rt87-outcome"></div>
</div>